<h1>Your orders</h1>

<%= link_to "New Order", new_order_path%>
<ul class="list-group">
  <%@orders.each do |order| %>
     <li class="list-group-item" style="height: 50px">
       <span class="badge"> <%= order.delivery_status.humanize %></span>
       <%=link_to order.item_name, order_path(order) %>
     </li>
  <% end%>
</ul>
